<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="bg-secondary text-white p-3">
        <div class="container">
            <span class="navbar-brand">Store App</span>
        </div>
    </div>
    <div class="container my-3">
        @RenderBody()
    </div>
    
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>